doctype html
html
  head
    meta(charset='utf-8')
    title Arnaud Drizard
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,400', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='./../node_modules/lightweight-bootstrap/css/bootstrap.min.css', type='text/css', media='screen')
    link(rel='stylesheet', href='./../node_modules/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='style.css', type='text/css', media='screen')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js', charset='utf-8')
    script(src='./../src/script.js')
  body
    div.username.container
      span.username__logo--container
        span.username__logo
          i.fa.fa-code.fa-5x
      h1.username__title ARNAUD DRIZARD
      h2.username__subtitle
        | I am a product engineer at Challenger Deep.
        br
        | I spend my time working on javascript apps, learning new languages or trying new things

    div.menu.container
      ul.menu__ul
        li.menu__li
          a.menu__a(href='/') Portfolio
        li.menu__li
          a.menu__a(href='/') Bio
        li.menu__li
          a.menu__a(href='/') Contact


    div.portfolio.container
      ul.portfolio__ul

        // Fibonacci
        li.portfolio__li.item
          div.item__thumb.col-md-2
            img.item__img(src='./../static/fibo.png')
          div.item__desc.col-md-10
            h3.item__title Fibonacci's Sequence: Retrieve the n-th Element in O(log(n))
            p.item__content An algorithm to get any item of the Fibonacci's sequence written in Go
            span.item__tags.tags
              ul.tags__ul
                li.tags__date
                  i.fa.fa-clock-o.fa-lg
                  | Dec, 2014
                li.tags__tag Algorithm
                li.tags__tag Linear Algebra
                li.tags__tag Go

        // Strassen Algorithm
        li.portfolio__li.item
          div.item__thumb.col-md-2
            img.item__img.item__img--strassen(src='./../static/strassen.png')
          div.item__desc.col-md-10
            h3.item__title Strassen's Algorithm: Subcubic Matrix Multiplication
            p.item__content A Go implementation of Strassen's alogrithm to multiply 2 matrices in O(n^2.80)
            span.item__tags.tags
              ul.tags__ul
                li.tags__date
                  i.fa.fa-clock-o.fa-lg
                  | Dec, 2014
                li.tags__tag Algorithm
                li.tags__tag Linear Algebra
                li.tags__tag Go

        // Stock Chart
        li.portfolio__li.item
          div.item__thumb.col-md-2
            img.item__img(src='./../static/stock.png')
          div.item__desc.col-md-10
            h3.item__title ngStock: Visualize your Stock Price with D3.js
            p.item__content An angular directive to add stock prices chart to your apps
            span.item__tags.tags
              ul.tags__ul
                li.tags__date
                  i.fa.fa-clock-o.fa-lg
                  | Dec, 2014
                li.tags__tag D3.js
                li.tags__tag Javascript
                li.tags__tag AngularJS

        // BitChrome
        li.portfolio__li.item
          div.item__thumb.col-md-2
            img.item__img.item__img--btc(src='./../static/btc.png')
          div.item__desc.col-md-10
            h3.item__title BitChrome: your Bitcoin news, delivered
            p.item__content A Chrome extension to bring you the latest Bitcoin news and price
            span.item__tags.tags
              ul.tags__ul
                li.tags__date
                  i.fa.fa-clock-o.fa-lg
                  | Sep, 2014
                li.tags__tag D3.js
                li.tags__tag Javascript
                li.tags__tag AngularJS
                li.tags__tag Bitcoin

        // Hacker News
        li.portfolio__li.item
          div.item__thumb.col-md-2
            img.item__img(src='./../static/yc.png')
          div.item__desc.col-md-10
            h3.item__title Hacker News: Crunching the Numbers
            p.item__content A data visualization on Hacker News made with d3.js in April 2014
            span.item__tags.tags
              ul.tags__ul
                li.tags__date
                  i.fa.fa-clock-o.fa-lg
                  | April, 2014
                li.tags__tag D3.js
                li.tags__tag Javascript
                li.tags__tag Python
                li.tags__tag Data Visualization


